BASE_URL=https://tasktrackingsystem.gangof4.dog/
CONNECT_TIMEOUT_MS=15000
RECEIVE_TIMEOUT_MS=30000


{
//   "phoneNumber": "+85512345001",
  "phoneNumber": "+85512345001",
  "password": "uPn-o!&8WWN%5daW"
}